<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PerceptronAi</title>

    <!--Links-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css')}}">
</head>
<body>

    <!-- <nav class="navbar navbar-default"> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <div class="navbar-header mr-4">
            <a class="navbar-brand" href="#">PerceptronAi</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">About</a></li>
            </ul>
        </div>
    </nav>


    <article class="media content-section">
        <div class="media-body">
            <!-- <div class="article-metadata">
            <a class="mr-2" href="#"></a>
            <small class="text-muted"></small>
            </div> -->
            <h2><a class="article-title" href="#">Nemesis</a></h2>
            <p class="article-content">fallen</p>
        </div>
    </article>
</body>
</html>